body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

ul {
    display: inline-block;
    text-align: left;
    padding: 0;
}

button {
    display: block;
    margin: 20px auto 0; /* Centers the button */
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: rgb(49, 86, 250);
}
